<div class="px-42 bg-tomato">
  <div class="">
    <div class="grid grid-cols-5 justify-items-center">
      <a href="#">
        <img src="assets/images/bni.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/perm-bank.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/master.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/danamon.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/visa.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/mandiri.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/kredivo.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/uob.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/gopay.png" alt="">
      </a>
      <a href="#">
        <img src="assets/images/std-char.png" alt="">
      </a>
    </div>
  </div>
</div>
<div class="px-42 bg-danger py-20 text-white">
  <div class="flex gap-x-12 font-taviraj">
    <div class="w-1/4">
      <img src="assets/images/matoa-white.png" alt="">
      <h3 class="text-xl font-medium mt-6 mb-2">Address</h3>
      <p class="text-base">
        Store & Office Jl. Setrasari Kulon III, No. 10-12, Sukarasa, Sukasari, Bandung, Jawa Barat, Indonesia 40152
      </p>
      <h3 class="text-xl font-medium mt-4">Office Hour</h3>
      <p>Monday - Sunday <br>
        10.00 - 18.00</p>
    </div>

    <div class="w-1/4">
      <h2 class="text-2xl	font-semibold">Get in touch</h2>
      <div class="flex mt-6">
        <h4 class="w-1/2 text-left font-medium">Phone</h4> <a href="tel:#" class="w-1/2 text-right text-base">022-20277564</a>
      </div>

      <div class="flex mt-2">
        <h4 class="w-1/2 text-left font-medium">Service Center</h4> <a href="tel:#" class="w-1/2 text-right text-base">
        0811-233-8899 </a>
      </div>

      <div class="flex mt-2">
        <h4 class="w-1/2 text-left font-medium">Customer Service</h4> <a href="tel:#"
                                                                         class="w-1/2 text-right text-base">
        0811-235-9988 </a>
      </div>

      <div class="row grid grid-cols-4 mt-8">
        <a href="#">
          <img src="assets/images/facebook.png" alt="">
        </a>
        <a href="#">
          <img src="assets/images/instagram.png" alt="">
        </a>
        <a href="#">
          <img src="assets/images/twitter.png" alt="">
        </a>
        <a href="#">
          <img src="assets/images/youtube.png" alt="">
        </a>
      </div>
    </div>

    <div class="w-1/4">
      <h2 class="text-2xl	font-semibold">Useful Link</h2>
      <ul>
        <li class="mt-6"><a href="#" class="text-base font-normal"> Warranty & Complaints </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Order & Shipping </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Tracking Order </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> About Us </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Repair </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Terms </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> FAQ </a></li>
      </ul>
    </div>


    <div class="w-1/4">
      <h2 class="text-2xl	font-semibold">Campaign</h2>
      <ul>
        <li class="mt-6"><a href="#" class="text-base font-normal">Warranty & Complaints</a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Tell Your Difference </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Waykambas </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Rebrand </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Gallery </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Singo </a></li>
        <li class="mt-2"><a href="#" class="text-base font-normal"> Rakai </a></li>
      </ul>
    </div>

  </div>
</div>
