<div class="px-42 mt-9 font-taviraj">
  <div class="bg-custom-bg flex items-end">
    <div class="w-1/5">
      <img src="assets/images/watch.png" class="transform translate-y-16" alt="">
    </div>
    <div class="w-3/5 mt-20 ml-28 py-12">
      <h1 class="text-6xl max-w-md text-gray-800">WAY KAMBAS MINI EBONY</h1>
      <hr class="w-1/5 text-gray-800 my-4">
      <p class="font-nunito max-w-2xl	text-gray-700">
        MATOA Way Kambas - This wood is chosen to represent the Sumatran Rhino's skin which is designed with an overlap
        effect on its strap to represent Rhino's skin.
      </p>
      <div class=" mt-4 mb-8 ">
        <a href="#" class="font-semibold text-gray-800 pb border-b border-gray-700"> Discover </a>
      </div>
      <div class="flex gap-x-10">
        <div>
          <button class="text-white bg-red-600 px-6 py-4 flex items-center  border-2 border-red-600">
            <img src="assets/images/cart.png" class="mr-4" alt="">
            Add to cart
          </button>
        </div>
        <div>
          <button class="border-2 border-red-600 px-6 py-4">
            <img src="assets/images/cicil.png" alt="">
          </button>
        </div>
      </div>
    </div>
    <div class="transform translate-y-10 w-1/5">
      <div class="flex gap-x-4 justify-en items-end">
        <button class="py-6 px-8 border-red-600 border-2">
          <img src="assets/images/arrow-prev.png" alt="">
        </button>
        <button class="py-6 px-8 bg-red-600 border-red-600 border-2">
          <img src="assets/images/arrow-next.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

<div class="px-42 my-32 font-taviraj">
  <div class="flex gap-x-6">
    <div class="w-1/2 shadow-xl px-5 py-3 bg-white">
      <h1 class="text-3xl text-gray-700"> Luxurious <span class="font-semibold">Eyewear</span></h1>
      <p class="font-nunito">See the beauty of exotic world with the luxurious glasses</p>
      <div class="flex">
        <p class="w-2/5">
          <a href="#" class="font-semibold text-gray-800 pb border-b border-gray-700">Discover Now</a>
        </p>
        <div class="3/5">
          <img src="assets/images/glass.png" alt="">
        </div>
      </div>
    </div>
    <div class="w-1/2 shadow-xl px-5 py-3 bg-white">
      <div class="flex">
        <div class="w-3/5">
          <h1 class="text-3xl text-gray-700"> Comfortable <span class="font-semibold">Watches</span></h1>
          <p class="font-nunito">
            Feels the balancing function and beauty in our wooden watches
          </p>
          <a href="#" class="font-semibold text-gray-800 pb border-b border-gray-700">Discover Now</a>
        </div>
        <div class="2/5">
          <img src="assets/images/watch-1.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="grid flex-wrap grid-cols-4 gap-x-8 mt-16">
    <div class="shadow-xl px-8 pt-3 pb-10 bg-white">
      <div>
        <img class="transform -translate-y-8  m-auto" src="assets/images/watch-2.png" alt="">
      </div>
      <h1 class="font-taviraj text-2xl">Singo Maple</h1>
      <p class="font-taviraj text-gray-400 text-sm">20% Off</p>
      <del  class="font-taviraj text-gray-400 text-sm">Rp 1.500.000</del>
      <h6 class="font-taviraj text-2xl">Rp 1.264.000</h6>
    </div>
    <div class="shadow-xl px-8 pt-3 pb-10 bg-white">
      <div>
        <img class="transform -translate-y-8 m-auto m-auto" src="assets/images/watch-3.png" alt="">
      </div>
      <h1 class="font-taviraj text-2xl">Singo Maple</h1>
      <p class="font-taviraj text-gray-400 text-sm">20% Off</p>
      <del  class="font-taviraj text-gray-400 text-sm">Rp 1.500.000</del>
      <h6 class="font-taviraj text-2xl">Rp 1.264.000</h6>
    </div>
    <div class="shadow-xl px-8 pt-3 pb-10 bg-white">
      <div>
        <img class="transform -translate-y-8 m-auto" src="assets/images/watch-2.png" alt="">
      </div>
      <h1 class="font-taviraj text-2xl">Singo Maple</h1>
      <p class="font-taviraj text-gray-400 text-sm">20% Off</p>
      <del  class="font-taviraj text-gray-400 text-sm">Rp 1.500.000</del>
      <h6 class="font-taviraj text-2xl">Rp 1.264.000</h6>
    </div>
    <div class="shadow-xl px-8 pt-3 pb-10 bg-white">
      <div>
        <img class="transform -translate-y-8 m-auto" src="assets/images/watch-3.png" alt="">
      </div>
      <h1 class="font-taviraj text-2xl">Singo Maple</h1>
      <p class="font-taviraj text-gray-400 text-sm">20% Off</p>
      <del  class="font-taviraj text-gray-400 text-sm">Rp 1.500.000</del>
      <h6 class="font-taviraj text-2xl">Rp 1.264.000</h6>
      <div class="flex gap-x-2 mt-8">
        <div>
          <button class="border-2 border-red-600 px-4 py-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0036 5.6792C12.9066 4.6216 14.6428 3 16.8 3C19.9103 3 22 5.25056 22 8.6C22 14.574 12.9772 20.7803 12.4636 21.1336L12.4536 21.1405L11.9976 21.4L11.5432 21.0838C11.5381 21.0802 11.5316 21.0757 11.5237 21.0702C10.9177 20.6504 2 14.4725 2 8.6C2 5.25056 4.08968 3 7.2 3C9.37992 3 11.1073 4.62008 12.0036 5.6792ZM2.79997 8.59997C2.79997 14.2 12 20.427 12 20.427V20.4271C12 20.4271 21.2 14.2668 21.2 8.59997C21.2 5.79997 19.6 3.79997 16.8 3.79997C14.0666 3.79997 12 6.99997 12 6.99997C12 6.99997 9.96661 3.79997 7.19997 3.79997C4.39997 3.79997 2.79997 5.79997 2.79997 8.59997Z" fill="#D84727"/>
            </svg>
          </button>
        </div>

        <div>
          <button class="text-white bg-red-600 px-4 py-2 flex items-center  border-2 border-red-600">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
