<div class="px-42 mt-9">
  <div class="flex font-taviraj">
    <div class="w-1/5">
      <img src="assets/images/matoa.png" alt="">
    </div>
    <nav class="w-3/5 text-center text-xl">
      <a href="#" class="mx-5 font-taviraj">Watches</a>
      <a href="#" class="mx-5 font-taviraj">Eyewear</a>
      <a href="#" class="mx-5 font-taviraj">Accessories</a>
      <a href="#" class="mx-5 font-taviraj">News</a>
    </nav>
    <aside class="flex w-1/5">
      <div class="mx-5 w-1/5">
        <img src="assets/images/search.png" alt="">
      </div>
      <div class="mx-5 w-3/5">
        <a href="#" class="flex">
          <div class="mr-2">
            <img src="assets/images/user.png" alt="" class="">
          </div>
          <div>
            <span class="text-lg">Log In</span>
          </div>
        </a>
      </div>
      <div class="w-1/5 px-2 bg-custom-bg rounded-full">
          <img src="assets/images/shape.png" class="w-full my-2" alt="">
      </div>
    </aside>
  </div>
</div>
